@font-face {
  font-family: "LotaGrotesque";
  src: url("../assets/fonts/LotaGrotesque-Regular.woff2") format("woff2"),
    url("../assets/fonts/LotaGrotesque-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "LotaGrotesque";
  src: url("../assets/fonts/LotaGrotesque-Bold.woff2") format("woff2"),
    url("../assets/fonts/LotaGrotesque-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "LotaGrotesque";
  src: url("../assets/fonts/LotaGrotesque-Black.woff2") format("woff2"),
    url("../assets/fonts/LotaGrotesque-Black.woff") format("woff");
  font-weight: 900;
}
