.createCustomer {
    padding: 20px 80px;
}

.cardImageContainer {
    position: relative;
  }
  
  .cardImage {
    width: 500px;
  }
  
  .cardNumberInput {
    position: absolute!important;
    bottom: 25px;
    left: 60px;
    background: #fff;
  }
  