.createCustomer {
    padding: 20px 80px;
}

.cardImageContainer {
    position: relative;
  }
  
  .cardImage {
    width: 500px;
  }
  
  .cardNumberInput {
    position: absolute;
    top: 70%;
    right: 50%;
    background: #fff;
  }
  